* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #303030;
  background-color: #FFFBEB;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-family: 'Syne', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.35em;
}

h5 {
  font-size: 1.125em;
}

/* === Header Styling ===*/
header {
  padding-top: 10px;
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.header-logo {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  max-width: 150px;
  display: inline-block;
}

#nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  right: 0;
  top: 20px;
  font-size: 28px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

nav>ul>li>a {
  padding: 0 24px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #303030;
  text-decoration: none;
  font-weight: 600;
}

/* === Button styling === */
a {
  font-weight: 600;
  text-decoration: none;
  color: #303030;
}

.button {
  padding: 1em 2.5em;
  border: 2px solid #303030;
}

.button.contrast {
  border: 2px solid #FFFBEB;
}

#button-top {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 14px;
  /* Place the button at the bottom of the page */
  right: 14px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  background-color: rgba(255, 251, 235, 0.85);
  /* Set a background color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 16px 10px;
  border-radius: 50%;
  /* Rounded corners */
  font-size: 14px;
  /* Increase font size */
}

#button-top:hover {
  background-color: rgba(255, 251, 235, 1);
  /* Add a dark-grey background on hover */
}

/*=== Footer styling ===*/
footer {
  width: 100%;
  height: auto;
  background-image: url('../img/general/background-footer-320px.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-info {
  padding: 30px 10px;
}

/* === Home page styling === */
.hero {
  background-image: url('../img/home/background-home-320px.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-landing {
  margin-top: 4em;
  margin-bottom: 8em;
}

.hero-text {
  position: absolute;
  z-index: 1;
  text-align: center;
  padding-left: 10px;
  top: 13.5em;
}

.home-logo {
  position: relative;
  z-index: -1;
  padding: 10px;
  width: 100%;
}

.contrast {
  color: #FFFBEB;
}

.button.read-more {
  margin-top: 1em;
  margin-bottom: 2em;
}

.rfrm-preview {
  background-image: url('../img/home/background-rfrm-320px.png');
}

.dimes-preview {
  background-image: url('../img/home/background-dimes-320px.png');
}

.artlo-preview {
  background-image: url('../img/home/background-artlo-320px.png');
}

.tuc-preview {
  background-image: url('../img/home/background-tuc-320px.png');
}

.rfrm-cover-img {
  width: 80%;
}

.dimes-cover-img {
  width: 100%;
}

.artlo-cover-img {
  width: 80%;
}

.tuc-cover-img {
  margin-top: 2em;
  width: 100%;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 300px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
  text-align: center;
  transition: height 1000ms;
}

.card.expanded {
  height: 800px;
}

.card.dimes-preview.expanded {
  height: 650px;
}

.card.tuc-preview.expanded {
  height: 900px;
}

.text1 {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 20%);
  transition: clip-path 0.4s;
}

.card.expanded .text1 {
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  transition-timing-function: ease-in-out;
}

.contrast {
  color: #FFFBEB;
}

.text-content {
  transform: translateY(-300px);
  transition: transform 0.4s;
  padding: 10px;
}

.card.expanded .text-content {
  transform: translateY(-15px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}

.card.expanded .chevron {
  transform: rotate(0deg);
}

.body-text {
  text-align: justify;
  opacity: 0;
}

.card.expanded .body-text {
  opacity: 1;
  transition-duration: 0.7s;
}

/* === Project page ===*/
.scroll-button {
  position: fixed;
  right: 0;
  z-index: 1;
}

.scroll-top {
  border-radius: 50%;
  border: 2px solid #303030;
}

.project-header {
  background-image: url('../img/general/background-header-320px.png');
  background-size: 100% 70%;
  background-position: top;
  background-repeat: no-repeat;
}

.project-background.rfrm {
  background-image: url('../img/rfrm/@1x/project-background-rfrm.png');
}

.project-background.dimes {
  background-image: url('../img/dimes/@1x/project-background-dimes.png');
}

.project-background.tuc {
  background-image: url('../img/tuc/@1x/project-background-tuc.png');
}

.project-background.artlo {
  background-image: url('../img/artlo/@1x/project-background-artlo.png');
}

.project-background.about {
  background-image: url('../img/about/about-background.png');
}

.project-background {
  background-size: 100% 100%;
  background-position: center;
  text-align: center;
  width: 100%;
}

.project-background.top {
  position: relative;
  top: -20px;
}


.project-content.title {
  text-align: left;
  margin-top: 4em;
  padding-bottom: 8em;
}

.project-content.title.tuc {
  padding-bottom: 8.5em;
}

.project-content > h1 {
  margin-top: 12px;
  border-top: 2px solid #303030;
}

.project-content.screens {
  margin-bottom: 0;
}

.project-img.title {
  margin-top: 8em;
  margin-bottom: 1.5em;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
}

.project-img.title.tuc {
  width: 90%;
  margin-left: 15px;
  padding-top: 20px;
}

.project-content {
  padding: 0 10px;
  margin-top: 4em;
  margin-bottom: 8em;
  text-align: center;
}

.project-content h3 {
  padding-top: 8px;
  border-top: 2px solid #303030;
  text-align: left;
}

.project-content p {
  text-align: justify;
}

.project-background .project-content {
  padding-top: 3em;
  padding-bottom: 4em;
}

.project-background.bottom {
  margin-bottom: 8em;
}

.project-img {
  width: 80%;
}

.rfrm-styling {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.rfrm-styling h4 {
  margin-bottom: 0.5em;
}

.rfrm-styling p {
  text-align: center;
  padding: 0 50px;
}

.rfrm-style-1 {
  font-family: 'DM Serif Display', 'serif';
  font-weight: normal;
}

.rfrm-style-2 {
  font-family: 'SF Pro Text', 'sans-serif';
  font-weight: normal;
}

.rfrm-style-3 {
  font-family: 'Roboto', 'sans-serif';
  font-weight: normal;
}

.project-img.tuc.mockup {
  width: 100%;
}

.project-img.tuc.multi-mockup {
  width: 130%;
  position:relative;
  right: 45px;
  margin-top: 3em;
}

.project-content.multi-mockup {
  margin-top: 1.5em;
  margin-bottom: 5em;
  padding-bottom: 5em;
}


p.tuc-data {
  text-align: left;
  padding: 16px;
}

ul.tuc-data>li {
  padding: 12px;
}

.project-img.flow {
  width: 100%;
  margin: 1.5em 0;
}

.project-content.tuc {
  list-style-type: circle;
}

.project-img.tuc.pref-test {
  margin-top: 1em;
  margin-bottom: 4em;
}

.role {
  text-align: left;
  margin-left: 2em;
}

.role>h5 {
  margin-left: 1em;
  margin-bottom: 0;
}

.dimes-styling {
  width: 80%;
  text-align: center;
  margin: 2em;
}

.dimes-styling p {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.dimes-styling .dimes-style-1 {
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}

.dimes-styling .dimes-style-2 {
  font-weight: 600;
}

.project-img.dimes-mockup {
  width: 60%;
}

.project-img.prelim {
  margin-top: 2em;
  margin-bottom: 3em;
}

.project-img.tuc {
  width: 100%;
}

.project-img.dimes {
  width: 100%;
  margin-top: 1em;
}




/* === About styling ===*/
.project-background.about.top {
  position: relative;
  top: -6em;
}

.about-title {
  text-align: left;
  border-top: 2px solid #303030;
  margin-top: 4em;
}

.about-title h1 {
  margin-top: 12px;
}

.about-img {
  width: 80%;
}

/* ================
Medium devices (640px and larger)
================ */

@media only screen and (min-width: 640px) {

  /* ====== Header ======== */

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
}

.navtoggle {
  display:flex;
  align-items: center;
}

  nav > ul.header-nav {
  position: unset;
  right: 0;
  display: flex;
  margin-top:0;
  margin-bottom: 0;
}

ul.header-nav > li {
  display: inline-block;
  border-left: 2px solid #303030;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 8px;
  padding-right: 8px;
}

#nav {
  border: 2px solid #303030;
  margin-top: 20px;
  margin-right: 2em;
  margin-left: 2em;
}

.header-logo {
  max-width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

 /*=== Main ===*/

 .grid-m {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 50% 50%;
 }

 .card.rfrm-preview {
   grid-column-start: 1;
   grid-column-end: 6;
   grid-row-start: 1;
   grid-row-end: 2;
 }
 .card.tuc-preview {
   grid-column-start: 6;
   grid-column-end: 13;
   grid-row-start: 1;
   grid-row-end: 2;
 }

 .card.dimes-preview {
   grid-row-start:2;
   grid-row-end:auto;
   grid-column-start: 1;
   grid-column-end: 7;
 }

 .card.artlo-preview {
   grid-row-start: 2;
   grid-row-end: auto;
   grid-column-start: 7;
   grid-column-end: 13;
 }

 .hero-landing {
   margin-top: 6em;
 }

 .home-logo {
   width: 80%;
   left: 6em;
 }

 .hero-text {
   top: 22em;
   left: 2em;
 }




}
